<div class="container">
  <p>
    Angular Starter provides all compilation options, server side rendering, dev environment and testing.
  </p>

    <strong>Development</strong>
    <p>
      To start dev server run: <span>npm run watch</span> after compiling finish run <span>npm run serve</span> it will start app on port 8000. On each code change server will recompile and you will get
    get notification
  </p>

  <strong>Google closure compiler production build</strong>
  <p>
   Compiling with Google Closure requires Java to run. Configuration file is in root <span>closure.conf</span>. To build with colosure type: <span>npm run build:closure</span>
  </p>

  <strong>Webpack production build</strong>
  <p>
    There is also an option to compile with webpack <span>npm run build:prod</span> Compliling with Google closure results in much better performance of application.
  </p>

  <strong>Testing</strong>
  <p>
    To start tests run <span>npm run test</span>.
  </p>
</div>
